.youtube {
	overflow-x: hidden;
	article {
		max-width: 480px;
		display: flex;
		flex-wrap: wrap;
		position: relative;

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// filter: saturate(0.7);

			.youtube {
				fill: transparent;
				font-size: 40px;
				color: #ff0000;
			}
		}

		&:hover {
			filter: saturate(0.9);

			path {
				transform: scale(1.2);
				// fill: rgba(0, 0, 0, 0.9)
				// stroke-dashoffset: 0;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}
